@page "/Products/Index"
@model CrudProducts.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    Nom du produit <input type="text" asp-for="prd" />
    Prix supérieur <input type="number" asp-for="minPrice" />
    Prix inférieur <input type="number" asp-for="maxPrice" />
    <input type="submit" value="Filtrer" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].imageUrl)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Product != null)
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img src="@item.imageUrl" alt="Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td>
                        <button class="addToCartBtn" data-product-id="@item.Id" data-product-price="@item.Price" data-product-name="@item.Name" >Add to Cart</button>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">Aucun résultat trouvé.</td>
            </tr>
        }
    </tbody>

</table>

@section Scripts
    {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Sélectionnez tous les boutons "Add to Cart"
            const addToCartButtons = document.querySelectorAll('.addToCartBtn');

            // Ajoutez un gestionnaire d'événements pour chaque bouton
            addToCartButtons.forEach(button => {
                button.addEventListener('click', function () {
                    // Récupérez l'ID du produit à partir de l'attribut data
                    const productId = this.getAttribute('data-product-id');
                    const productName = button.dataset.productName;
                    const productPrice = button.dataset.productPrice;
                    

                    // Ajoutez le produit au panier en utilisant Local Storage
                    addToCart(productId, productName, productPrice);
                });
            });

            // Fonction pour ajouter au panier
            function addToCart(productId, productName, productPrice) {
                // Obtenez le panier actuel depuis Local Storage (s'il y en a un)
                const cart = JSON.parse(localStorage.getItem('cart')) || [];

                const existingProduct = cart.find(item => item.productId === productId);
                if (existingProduct) {
                    alert('Product is already in the cart!');
                } else {
                    cart.push({ productId: productId, productName: productName , productPrice: productPrice,quantity: 1 });

                    // Enregistrez le panier mis à jour dans Local Storage
                    localStorage.setItem('cart', JSON.stringify(cart));

                    updateCartCount();

                    alert('Product added to cart!');
                }



            }
        });
    </script>
}

