@page
@model CrudProducts.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/IndexCategory.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4GSLZQfR/SFIIJLAcDCLwM/OEFiVFeD"
          crossorigin="anonymous">
</head>


<div class="container mt-4">
    <a asp-page="Create" class="btn btn-primary">Create New</a>

    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title">Categories</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category[0].Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Category)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
